{% extends "customer/base.html" %} {% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        nobis sed aliquid numquam quidem vitae fugit molestiae excepturi autem
        voluptatum officiis porro deleniti quaerat reiciendis placeat esse enim
        vero sint rem doloribus quam quos? Reprehenderit a consequuntur
        quibusdam totam corrupti velit aperiam! Nemo beatae, quae veritatis
        voluptatum sed dolorem maxime?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nesciunt.
        Porro alias, minima maiores blanditiis, vero repellat quos nihil minus
        est illum numquam placeat, velit quo quia quod similique. Facere ipsam,
        rem dolorum voluptate provident incidunt minus odit quae, nemo porro
        rerum necessitatibus ex explicabo placeat quisquam, eaque impedit ab?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nesciunt.
        Porro alias, minima maiores blanditiis, vero repellat quos nihil minus
        est illum numquam placeat, velit quo quia quod similique. Facere ipsam,
        rem dolorum voluptate provident incidunt minus odit quae, nemo porro
        rerum necessitatibus ex explicabo placeat quisquam, eaque impedit ab?
      </p>
    </div>
  </div>
</div>
{% endblock content %}
